

/*
  MOBILE
*/
body{
    font-family: 'Century Gothic';
}
.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media only screen and (min-width: 768px) {
    /* 
        DESKTOP
    */ 
   .frame{
    padding:30px;
    background-color: #023047;
   }

   .frame-content{
    height: 550px;
    padding: 30px;
    background-color: #8ecae6;
   }

   .frame-about{
    background-color: #fff;
   }

   .home-card-container{
    display: grid;
    grid-row: 1;
    grid-template-columns: 2fr 2fr;
    height: 500px;
    background-color: #fff;
   }


   #carousel-slide-show{
    /* width: 50%; */
    background-color: #023047;
   }

   .carousel-item{

    width: auto;

   }
   .carousel-item h1{
    text-align: center;
    background-color: brown;
   }
   
   .welcome-note{
    background-color: #8ecae6;
   }
   .overlay{
    margin-top: 50px;
    width: 25%;
    height: 100%;
    background-color: brown;
    
   }

  
}


