
/* 
  #50FA7B //Green
  #F8F8F2 //Forground [white]
  #282A36 //Background [Dracular]
  #44475A light dark
  #21DBC9
  
/* GlOBAL */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body{
  color: #F8F8F2;
  background-size: cover; /* or contain for a different effect */
  background-position: center center;
  height: 100vh; /* You can set the height as needed */
  width: 100%;
  font-family: 'Century Gothic';
  background-image: url('./assets/mobile-bg-xxl.jpg');
  overflow-x: hidden;
  scroll-behavior:smooth
}

.frame{
  /* height: 100%; */
  padding-top: 5em;
  background-color: #282a366e;


}

.btn-float{
  

  z-index: 99;

  position: fixed;
  bottom: 0;
  right: 0;

  margin: 1.5em 1em;

  cursor: pointer;

  background-image: url('./assets/icon-Arrow-up.svg');
  background-repeat: no-repeat;
  background-color: transparent;

  width: 2.5rem;
  border: 0;
  aspect-ratio: 1;
}

.flex{
  display: flex;
  flex-direction: row;
  gap: var(--gap,1rem);
  
} 

/* PRIMARY HEADER */
.primary-header{
  width: 100%;

  align-items: center; 
  justify-content: space-between;

  border-bottom: 1px solid #F8F8F2;
  /* padding: .6rem 3rem; */
  
  position: fixed;
  top: 0;
  transition: top .3s; 

  background-color: #282A36be;
  
}

.logo{
  width: 2.5em;
}

/* Primary Navigation */ 
.primary-navigation{
  list-style: none;
  flex-direction: row;
  gap: 2.5rem; 
  padding: 0;
  margin: 0;
  
}

a{
  color: #F8F8F2;
   text-decoration: none; 
  }
.mobile-nav-toogle {
  display: none;
}
.mobile-text-animation{
  display: flex;
  justify-content: center;
  text-align: left;
  z-index: 0;
}
.mobile-text-slide span{
  font-weight: bold;
}

.pin{
  display: flex;
  justify-content: center;
  img{
    margin: 1em 0em;
    height: 5em;
  }
}


.img-welcome-msg{
  display: none;
}
.welcome-msg, .about, h4{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

h5{
  color: #50FA7B;

  span{
    font-weight: bold;
  }
}


/* 
  FORM SUBMIT REVIEW
*/
.error{
  color: crimson;
}
#div_submit_request{
  /* justify-content: end; */
}
form{
  width: 80%;
  background-color: #44475Aaf;
  .btn{
    width: fit-content;
  }
  p {
    text-align: center;
  }
  .row{
    margin-bottom: 1em;
  }

}

footer{
  text-align: center;
  font-size: .8em;

  border-top: 1.5px solid #F8F8F2;
  background-color: #282A3660;

  p{
    padding: 0 .2em;
  }
}

/*
  MOBILE
*/
@media (max-width: 35em){

  .primary-header{
    padding: .5rem .7rem;
  }

  .primary-navigation{

    flex-direction: column; 
    gap: 1.5em;
    padding: min(20vh, 10rem) 0;
    text-align: center;

    position: fixed; 
    inset: 0 0 0 30%;
 
    transform: translateX(100%);
    transition: transform 350ms ease-in;

    z-index: 100;
    background-color: hsl(231, 15%, 18%);
    /* backdrop-filter: blur(.09rem); */

    li {
    
      background-color: #2e2e2e;
      padding: .5em 0;
    }
  }
  .primary-navigation[data-visible="true"]{ 
    transform: translateX(0%);
  }

  .mobile-nav-toogle {
    display: block;
    z-index: 9999;
    background-color: transparent;
    background-image: url('./assets/icon-humburger-menu_1.svg');
    background-repeat: no-repeat;
    
    width: 2.2rem;
    border: 0;
    aspect-ratio: 1;
    right: .7em;
    position: absolute;
    /* top: 1rem;*/
  }

  .mobile-nav-toogle[aria-expanded="true"] {
    background-image: url('./assets/icon-close_1.svg');
    /* background-color: red; */
  }

  .frame{
    #quote_img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border: 2px solid #F8F8F2;
      border-radius: 100%;
    }
  
    #quote_text{
      text-align: center;
      width: 90%;
    }

      /* 
    ABOUT
  */
  .img-about {
    display: flex;
    justify-content: center;
    img{
      width: 90%;
    }
  }

  .potfolio{
    .potfolio-item{  
     
      display: flex;
      justify-content: center;   
      padding: .8em; 
      background-color: #f8f8f2;
      img{
        width: 20rem;
      }
    }
  }

  }
  #text_animation{
    z-index: 0;
    margin-top: 3em;
  }
  .btn-explore-group{
    margin-top: 3em;
  }
  .btn-explore-group a{
    padding: .5em 1em;
    border: 2px solid #50FA7B;
    border-radius: 2.5em;
    background-color: transparent;
    color: #50FA7B;
  }

  .welcome-msg{
    width: 90%;
    margin-top: 3em;
    margin-left: 1rem;
    padding: 0px;
    p{
      text-align: center;
    }
  }
  
  .btn-explore-group a:hover{
    color: #50FA7B;
    border: 2px solid #50FA7B;
    background-color: #282A36;
  }

  .mobile-text-animation h4{
    font-size: 2.5em;
    color: #50FA7B;
  }


  .service{
    margin-left: 1.5em;
  }

    /* 
      FORM MOBILE
    */
    form .col-5{
      display: none;
    }
    
    
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-left: 1em;
    margin-right: 1em;
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #F8F8F2;
    outline: 0;
    color: #F8F8F2;
    padding: 1em 1em;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
  }
  .form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    top: 0;
    display: block;
    transition: 0.3s;

  }
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  .contacts h6{
    text-align: center;
  }
  .contacts ul li{
    display: flex;
    justify-content: center;
  }
}
/* 
------------------------------------------------------
DESKTOP
------------------------------------------------------
*/
@media (min-width:35em){

  body{
    background-image: url('./assets/desktop-xxl.jpg');
  }

  .deskotp{
    display: block;
  }

  /* H E A D E R */ 
  .primary-header{
    z-index: 50;
    padding: .6rem 3rem;
    nav{
      ul{


        li{
          .active{
            color: #50FA7B;
            border-bottom: 2px solid #50FA7B;;
          }

          a{
            padding: 0px 5px;
            transition: border-bottom 0.7s ease-in;
            /* transition-duration: 0.2s;  */
          }
          a:hover{
            color: #50FA7B;
            border-bottom: 2px solid #50FA7B;;
          }
        }
      }
    }
  }


  /* H O M E */
  .frame{

    padding-left: 3em;
    padding-right: 3em;

    .home{
        #quote_img{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 40%;
          border: 3px solid #F8F8F2;
          border-radius: 100%;
        }

        #quote_text{
          text-align: center;
          width: 50%;
        }
      
    }
    .mobile-text-animation{
      margin-top: 5em;
      h4{
        font-size: 4em;
        br{
          display: none;
        }
      }
    }

    .btn-explore-group{
      margin-top: 0px;
      .btn{
        color: #F8F8F2;
        border: 2px solid #F8F8F2;
        padding: .5em 1.2em;
        border-radius: 0px;
      }
  
      .btn:hover{
        color: #50FA7B;
        border: 2px solid #50FA7B;
      }
    }

    .row-welcome-msg{
      margin-top: 5em;

      .img-welcome-msg{
        display: block;
        display: flex;       
        justify-content: center;


        img{
          max-width: 30rem; 
          opacity: .7;     
        }
      }
      .welcome-msg{
        display: flex;
        align-items: center;
      }
    }
    
    .row-about{

      .about{
        display: block;
        display: flex;
        align-items: center;      
        justify-content: center;
      }
      
      .img-about{
        display: block;
        display: flex;       
        justify-content: center;
        img{
          max-width: 25rem;  
          opacity: 1;    
        }
      }
    }
    
  }
  
  /* A B O U T */

  /* P O T F O L I O */

  .potfolio{

    .potfolio-item{
      background-color: #f8f8f2b6;
      padding: .8em;
      img{
        width: 20em;
      }
    }

    .potfolio-item:hover{
      background-color: #f8f8f2;
    }
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
  }

  /* S E R V I C E */
  .service{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2em;

    div{
      width:15em;
      background-color: #44475Aaf;
      justify-content: center;
      h5{
        text-align: center;
      }
    }

    div:hover{
      background-color: #282A36;
    }
  }
  /* C L I E N T S */
  .clients{

    ul{
      li{
        height: 5em;
        list-style-type: none;
        background-color: #F8F8F2;
      }
    }

  }
  /* C O N T A C T S */
  #div_submit_request{

    margin-bottom: 2em;
   div{
    .contacts{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul{
      li{
        list-style-type: none;
      }
    }
   }
    
  }

  /* F O O T E R */
  footer{
    p{
      font-size: 1.2em;
      a:hover{
        color: #50FA7B;
      }
    }

  }

}

/* 
------------------------------------------------------
UTILYTY
https://bootstrap-menu.com/detail-autohide.html
------------------------------------------------------
*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 1em;

}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #F8F8F2;
  outline: 0;
  color: #F8F8F2;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
/* .form__field:placeholder-shown ~ .form__label {
  cursor: text;
  top: 20px;
} */
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
}
.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  top: 0;
  display: block;
  transition: 0.2s;

}
/* reset input */
/* .form__field:required, .form__field:invalid {
  box-shadow: none;
} */

/* Hover */

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;

  ul {
    padding: 0;
    font-size: 2rem;
  }
  ul li {
    display: inline-block;
    width: 5rem;
  }
  .grow {
    transition: all 0.2s ease-in-out;
  
  }
  .grow:hover {
    transform: scale(1.5);
  }
  
}
